
.head{
	width: 100%;
	height: 10%;
        background-image: url(https://s3.amazonaws.com/cuelogic/web/4172775.png)
    }
    nav{
    	 width: 200px;
    }
    nav a{
    	
    	display: block;

    	align-items: center;

    }
  nav  a:link,a:visited{
    background-color: chartreuse;
    
    padding: 14px 20px;
    text-align: center;
    
}
nav a:hover,a:active{
    background-color:black;
    text-decoration-color: white;

}
header {
	position: fixed;

}
header a{
	float: left


}
header img{
	width: 20%;
	height: 100%;
}

form input{
	display: block;
	padding: 5px;
	
}
p{
	text-indent: 50px;
}
